<html xmlns:th="https://www.thymeleaf.org">
    <body>
        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>
        <div>
            <form method="POST" enctype="multipart/form-data" action="/">
                <table>
                    <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                    <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
                </table>
            </form>
        </div>
        <div>
            <ul style="list-style-type:none">
                <li th:each="file : ${files}" style="float:left;margin:20px">
                    <img th:src="@{${file}+'/image'}" /></br>
                    <a th:href="${file}" th:text="${file}" />
                </li>
            </ul>
        </div>
    </body>
</html>